.home-hero__top-row {
  position: absolute;
  top: 125px;
  left: 152px;
  display: flex;
  align-items: center;
  gap: 37px;
}

/*.home-hero__logo {
  width: 169px;
  height: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  object-fit: contain;
}*/

.home-hero__logo-wrapper {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: #d9f3f8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-hero__logo {
  width: 191px;
  height: 152px;
  object-fit: contain;
}

.home-hero__title {
  width: 222px;
  height: 164px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 57px;
  color: #d9f3f8;
  text-transform: uppercase;
}

.home-hero__welcome {
  position: absolute;
  top: 405px;
  left: 152px;
  width: 517px;
  height: 97px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: #d9f3f8;
}

.home-hero__cta-btn {
  position: absolute;
  top: 760px;
  left: 152px;
  width: 466px;
  height: 67px;
  padding: 15px 20px;
  background-color: #2a9d8f;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #999999;
  border-radius: 999px;
  box-sizing: border-box;
  cursor: pointer;
}
